
@import "_content/components.scss";

.page-content{
    padding-bottom: 40px;
}

// ARTICLE SECTION
.article-section{
    box-sizing: border-box;
    padding: 20px 0 0 5px;
    &__text{
        // padding-bottom: 10px;
    }
    span{
        font-style: italic;
    }
    b{
        padding-right: 10px;
    }
    dl{
        line-height: 150%;
        dd{
            margin: 0;
            padding: 0 0 20px 0;
        }
        dd:last-child{
            padding: 0;
        }
        dt{
            font-weight: 700;
            float: left;
        }
    }
}