$btn-color: #00d275;
$btn-demo-color: #a7a7a7;
$bg-pagetools : #2d2d2d;
$bg-site-nav : #f2f2f2;
$col-contact-tools: #00b7ad;
$col-active-li: #00b1a6;
$col-page-nav: #00aa9d;
$buy-btn-col: #00b1a7;
$bg-icon: #00aa9d;
$bg-prim-footer: #262626;
$bg-secon-footer: #181818;
$bg-socials: #414141;
$input-brd-col: #303030;
$bg-submit: #00d275;


$font-page: 'Arimo', sans-serif;
$font-color: #2a2a2a;